<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <supports-screens android:largeScreens="false" android:smallScreens="true"
        android:xlargeScreens="false" android:normalScreens="true"/>

    <application
        android:name="com.app.studiomusic.Audio_Controller.MusicApplication"
        android:allowBackup="true"
        android:icon="@mipmap/studiomusic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/studiomusic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/no_action_bar"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.app.studiomusic.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path"/>
        </provider>

        <activity
            android:name="com.app.studiomusic.NowPlayingNew.NowPlayingNew"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.app.studiomusic.Lyrics.LyricsActivity"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.app.studiomusic.Queue.QueueActivity"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.app.studiomusic.NowPlaying.NowPlaying"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".AlbumView.AlbumViewActivity" -->
        <!-- android:exported="true" -->
        <!-- android:resizeableActivity="false" -->
        <!-- android:screenOrientation="portrait"> -->
        <!-- <intent-filter android:autoVerify="true"> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
        <!-- <data -->
        <!-- android:host="studiomusic.app" -->
        <!-- android:scheme="https" -->
        <!-- android:pathPrefix="/player/album" /> -->
        <!-- <data -->
        <!-- android:host="studiomusic.app" -->
        <!-- android:scheme="https" -->
        <!-- android:pathPrefix="/player/track" /> -->
        <!-- <data -->
        <!-- android:host="studiomusic.app" -->
        <!-- android:scheme="http" -->
        <!-- android:pathPrefix="/player/album"/> -->
        <!-- <data -->
        <!-- android:host="studiomusic.app" -->
        <!-- android:scheme="http" -->
        <!-- android:pathPrefix="/player/track"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <service
            android:name="com.app.studiomusic.Audio_Controller.MusicForegroundService"
            android:foregroundServiceType="mediaPlayback"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.app.studiomusic.ProfileCheck.ProfileCheckActivity"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/no_action_bar" />
        <activity
            android:name="com.app.studiomusic.Login.LoginActivity"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/no_action_bar_login" />
        <activity
            android:name="com.app.studiomusic.Profile.ProfileActivity"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/no_action_bar" />
        <activity
            android:name="com.app.studiomusic.SplashScreen.SplashScreenActivity"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.studiomusic.Main.MainActivity"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/no_action_bar"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="studiomusic.app" />
                <data android:pathPrefix="/"/>
                <data android:scheme="http" />
                <data android:host="studiomusic.app" />
                <data android:pathPrefix="/" />
            </intent-filter>
        </activity>
    </application>

</manifest>